@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.blue {
    background-color: aliceblue;
}

.green {
    background-color: darkseagreen;
}

.purple {
    background-color: mediumorchid;
}

.red {
    background-color: darksalmon;
}

.container {
    display: flex; /*display all plant names in flex layout*/
    flex-wrap: wrap; /*rows wrap if there are too many */
    justify-content: space-evenly; 
    background-color: darksalmon;

}   

 
.plant { 
    flex-basis: 20%;  /* each child element same width*/
    /*border: 2px solid black;*/
    padding: 5 em; 
    margin: 1 em;
    text-align: center;  /*center align in text boxes */
} 

